header{
    font-size: 28px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: bisque;

}

#search-row {
    margin-bottom: 50px;
}


#sports-form{
    
    margin-top: 50px;
}

#addSport {
    margin-top: 10px;
}